.title {
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form styles */
form {
    background-color: white;
    margin: 0 auto;
    width: 50%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin-top: 150px;
}

form .container {
    margin-bottom: 20px;
}

form h1 {
    text-align: center;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"], form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form .registerbtn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #343a40;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

form .registerbtn:hover {
    background-color: #23272b;
}

form .signin {
    text-align: center;
}

.center-section {
    width: 60%; /* Adjust as needed */
    margin: 40px auto;
    text-align: center;
}



.frame {
    display: block;
    margin: 0 auto;
    border-radius: 8px; /* Adjust as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); /* Adjust as needed */
}


/* Mobile styles */
@media (max-width: 767px) {
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    form {
       width: 300px;
    }
    .frame {
        display: block;
        margin: 0 auto;
        width: 110%;
        height: 250px;
    }
}                                          


/* Tablet and larger */
@media (min-width: 768px) {
    .container-2, .signin {
        width: 75%;
        margin: 0 auto;
    }

    .email-section, .map-section {
        display: flex;
        justify-content: space-between;
    }

    .email-section .email-content, .map-section iframe {
        width: 45%;
    }
}

/* Desktop and larger */
@media (min-width: 1024px) {
    .container-2, .signin {
        width: 50%;
    }
}