:root {
    /*Color*/
--white: #ffffff;
--gold: #FFD700;
--black: #000000;
--blue: #0000FF;
--red: #FF0000;
--purple: #A020F0;
--grey: #DADFE5;


/*Font weight*/
--weight-bold: 700;
--weight-semiBold: 600;
--weight-regular: 400;


/*Border Radius*/
--radius-small: 8px;
--radius-medium: 12px;
--radius-large: 16px;
--radius-extra-large: 32px;
--radius-full: 1000px;
--radius-circle: 50%;


/*Box Shadow*/
--shadow-1: 0px 2px 4px 0px #00000033;
--shadow-2: 0px 5px 10px 0px #0000000D;
--shadow-3: 0px 5px 10px 0px #00000033;
--shadow-4: 0px 10px 20px 0px #0000001A;

}

.head {
    position: relative;
    top: 100px;
    text-align: center;
    color: var(--black);
    font-family: 'Lora', sans-serif;
    font-style: italic;
}
.head2 {
    position: relative;
    text-align: center;
    color: var(--black);
    font-family: 'Lora', sans-serif;
    font-style: italic;
    margin-bottom: 25px;
}

.newest {padding-block-start: 110px;}

.img-holder {
    overflow: hidden;
}

.card {
    border-radius: var(--radius-large);
    overflow: hidden;
    box-shadow: var(--shadow-2);
    width: 350px;
    cursor: pointer;
}

.card:where(:hover, :focus-within) {box-shadow: var(--shadow-4);}

.art-list {
    display: inline-flex;
    gap: 100px;
    margin-left: 60px;
    flex-wrap: wrap;
}


.scott {
    padding-block-start: 70px;
}

.container {
    display: flex;
    margin-bottom: 50px;
}

.img-holder2 {
    margin: 0px 40px;
    border-radius: var(--radius-medium);
    max-width: 100%;
    float: left;
}



.description1 {
    display: flex;
    flex-direction: column;
   flex: 1;
   color: var(--black);
  font-family: 'Lora', sans-serif;
  font-style: italic;
  line-height: 2;
  margin-top: 20px;
}
.description2 {
    display: flex;
    flex-direction: column;
   flex: 1;
   color: var(--black);
  font-family: 'Lora', sans-serif;
  font-style: italic;
  line-height: 2;
  margin-top: 20px;
}
.description3 {
    display: flex;
    flex-direction: column;
   flex: 1;
   color: var(--black);
  font-family: 'Lora', sans-serif;
  font-style: italic;
  line-height: 2;
  margin-top: 20px;
}

.collection {
    margin-top: 120px;
}

@media  (max-width: 1108px) {
    .art-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    h1 {
        margin-left: 60px;
    }
}

@media (min-width:428px) {
    .description1,
    .description2,
    .description3 {
        display: block;
    }

    .img-holder2 {
        margin-left: 10px;
    }

    .collection {
        margin-right: 50px;
    }

    .newest {
        margin-right: 50px;
    }

    .head {
        margin-right: 50px;
    }
}


