:root {
    /*Color*/
--white: #ffffff;
--gold: #FFD700;
--black: #000000;
--blue: #0000FF;
--red: #FF0000;
--purple: #A020F0;
--grey: #DADFE5;


/*Font weight*/
--weight-bold: 700;
--weight-semiBold: 600;
--weight-regular: 400;


/*Border Radius*/
--radius-small: 8px;
--radius-medium: 12px;
--radius-large: 16px;
--radius-extra-large: 32px;
--radius-full: 1000px;
--radius-circle: 50%;


/*Box Shadow*/
--shadow-1: 0px 2px 4px 0px #00000033;
--shadow-2: 0px 5px 10px 0px #0000000D;
--shadow-3: 0px 5px 10px 0px #00000033;
--shadow-4: 0px 10px 20px 0px #0000001A;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Header*/

.header {
  background-color: #f4f4f4;
  box-shadow: var(--shadow-3);
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100px;
  z-index: 4;
  background-image: url(../assets/background1.png);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  
}

.header.active {
  animation: slide_in 500ms ease forwards; 
}

@keyframes slide_in {
  0% {transform: translateY(-100%);}
  100% {transform: translateY(0);}
}

.logo {
  margin-left: 30px;
}

.navbar {
  position: absolute;
  top: 85%;
  right: 16px;
  background-color: var(--white);
  min-width: 260px;
  padding: 10px;
  border-radius: var(--radius-large);
 visibility: hidden;
  opacity: 0;
  scale: 0.4; 
  transition: var(--transition-duration-quick) var(--transition-duration-quick);
  box-shadow: var(--shadow-1);
  transform-origin: top right;
  z-index: 4;
}

.navbar.active {
  visibility: visible;
  opacity: 1;
  scale: 1;
}

.navbar-link {
  text-decoration: none;
  color: var(--black);
  font-family: 'Lora', sans-serif;
  font-style: italic;
  cursor: pointer;
}

.navbar-link:hover {
  color: var(--blue);
}

ul{
  list-style-type: none;
  display: grid;
  justify-items: center;
  gap: 25px;
}
.link {
  list-style-type: none;
  display: flex;
  justify-items: center;
  gap: 60px;
}
.nav-toggle-btn .close,
.nav-toggle-btn.active .open {display: none;}

.nav-toggle-btn .open,
.nav-toggle-btn.active .close {display: block;}

/*Header*/

/*Icon-Btn*/
.icon-btn {
    height: 40px;
    width: 40px;
    display: grid;
    place-items: center;
    background-color: var(--white);
    border-radius: var(--radius-small);
    box-shadow: var(--shadow-3);
    border: none;
    margin-right: 10px;
  }
  
.icon-btn:hover, :focus-visible {
  background-color: var(--grey);
  cursor: pointer;
}
/*Icon-Btn*/

/*Footer*/

.footer {
  width: 100%;
  position: relative;
  bottom: 0;
  background-image: url(../assets/background1.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  padding-top: 40px;
  overflow: hidden;
}



.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 100%;
  height: 100%;
  justify-items: center;
}

.social {
  margin: auto 25%;
}

a {
  text-decoration: none;
  color: var(--black);
  font-family: 'Lora', sans-serif;
  font-style: italic;
  cursor: pointer;
  line-height: 1px;
}

a:hover {
  color: var(--blue);
}

.copyright {
  color: var(--black);
  font-family: 'Lora', sans-serif;
  font-style: italic;
}


/*Footer*/

/*Media Query*/

@media (max-width: 426px) {
.grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}

.container {
  margin: 0 0;
}

.footer {
  padding: 0 0;
}
}

@media (min-width: 992px) {
  .nav-toggle-btn {
    display: none;
  }

  .navbar, .navbar-list, .navbar-link{
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  padding: 0 10px;
  font-family: 'Lora', sans-serif;
  font-style: italic;
}

.navbar-link {
  cursor: pointer;
}
}

/*Media Query*/